<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= meta.desc %>">
    <meta name="subject" content="サイトの主題">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">

    <link rel="icon" href="/images/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/images/favicon-32.png" sizes="32x32" type="image/png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="<%= og.url %>">
    <meta property="og:type" content="<%= og.type %>">
    <meta property="og:title" content="<%= og.title %>">
    <meta property="og:image" content="<%= og.image %>">
    <meta property="og:description" content="<%= og.desc %>">

    <title><%= meta.title %></title>

    <link rel="stylesheet" href="<%= root %>assets/css/style.css">

</head>
<body>
